.button{
    background: var(--purple);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font: var(--button);
    letter-spacing: 1.25px;
    line-height: 22.65px;
    padding: 13px 24px;
    text-transform: uppercase;
}

.button--is-secondary{
    background: unset;
    border: 2px solid var(--purple);
    color: var(--purple);
}