.header{
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

.header-content{
    align-items: center;
    display: flex;
    block-size: 80px;
    justify-content: space-between;
    margin-block-end: 16px;
}   

.header-content nav{
    display: none;
}

@media screen and (min-width: 768px){
    .header-content{
        gap: 128px;
        justify-content: flex-start;
    }

    .header-content > button{
        display: none;
    }

    .header-content nav{
        display: inline-block;
    }

    .header-content nav ol{
        display: flex;
        gap: 40px;
        list-style: none;
    }

    .header-content ol li a{
        color: var(--white);
        font: var(--button);
        letter-spacing: 1.25px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .header-content ol li:first-child a{
        color: var(--purple);
    }
}