.hero-img{
    text-align: center;
}

.hero-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-description h1{
    font: var(--headline3);
    margin: 0;
    margin-block-start: 16px;
}

.hero-description p{
    margin: 0;
}

.hero-description h1 span:first-child{
    font: var(--headline5);
    display: block;
}

.hero-description p{
    letter-spacing: 0.5px;
}

.description-social{
    display: flex;
    gap: 16px;
    padding-block-end: 24px;
}

@media screen and (min-width: 768px){
    .hero{
        align-items: center;
        display: flex;
        gap: 35px;
        justify-content: space-between;
    }

    .hero-description{
        max-width: 450px;
        order: 1;
    }

    .hero-description .button{
        max-width: 260px;
    }

    .hero-img{
        order: 2;
    }

    .hero-img img{
        vertical-align: middle;
    }
}

@media screen and (min-width: 1024px){
    .hero-img img{
        block-size: 500px;
        inline-size: 504px;
    }
}