.message{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block-start: 40px;
    padding-block-end: 96px;
    text-align: center;
}

.message p{
    margin: 0;
}

.message p:first-child{
    font: var(--headline5);
    font-weight: 400;
    letter-spacing: 0.5px;
}

.message p:nth-child(2){
    font: var(--headline5);
    font-weight: 700;
}


@media screen and (min-width: 768px){
    .message{
        max-width: 900px;
        margin: 0 auto;
        margin-block-start: 200px;
    }
}