.references-item{
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(39.7657px);
    box-shadow: -8px -8px 4px -5px rgb(255 255 255 /60%);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-inline: 24px;
    padding-block: 24px;
    margin-block: 80px;
}

.references-item p{
    font: var(--oxygen);
    margin: 0;
}

.references-item p:nth-of-type(2){
    color: var(--purple);
    font: var(--caption);
    letter-spacing: 0.4px;
    text-transform: uppercase;
    align-self: flex-start;
}

.references-item img{
    margin-block-start: 24px;
}

@media screen and (min-width: 768px){
    .references-item{
        max-width: 1132px;
        text-align: center;
    }

    .references-item img{
        width: 80px;
        height: 80px
    }

    .references-item p:nth-of-type(1){
        font: var(--headline4);
    }

    .references-item p:nth-of-type(2){
        font: var(--headline5);
        margin-inline: auto;
    }
}