@import "./button.css";
@import "./button-icon.css";
@import "./header.css";
@import "./hero.css";
@import "./wrapper.css";

:root{
    --fontBase: 'Poppins', sans-serif;
    --headline1: bold 95px/153.71px var(--fontBase);
    --headline2: bold 59px/95.46px var(--fontBase);
    --headline3: bold 48px/77.66px var(--fontBase);
    --headline4: bold 34px/55.01px var(--fontBase);
    --headline5: bold 24px/38.83px var(--fontBase);
    --body1: 400 16px/25.89px var(--fontBase);
    --body2: 400 14px/22.65px var(--fontBase);
    --button: bold 14px/22.65px var(--fontBase);
    --caption: 400 12px/19.42px var(--fontBase);
    --purple: #310A90;
    --green: #42E2B8;
    --white: #FFFFFF;
}

*{
    box-sizing: border-box;
}

body{
    background: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    font: var(--body1);
    min-block-size: 100vh;
    color: var(--purple);
}