:root{
    --purple: #310A90;
    --white: #FFFFFF;
    --headline5: 24px;
    --headline3: 48px;
}

*{
    box-sizing: border-box;
}

body{
    background: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #747DE9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(135deg, #72EDF2 0%, #5151E5 100%);
    min-block-size: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

header button{
    background-color: var(--purple);
    border-radius: 4px;
    border: none;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1.25px;
    outline: none;
    padding: 13px 24px;
    cursor: pointer;
    text-transform: uppercase;
}

main{
    margin: 32px 16px 55px 16px;
}

main .main__photo{
    width: 100%;
}

main > h5, h3, p{
    font-family: 'Puppins', sans-serif;
    color: var(--purple);
}

main h5{
    font-size: var(--headline5);
    line-height: 39px;
    margin-top: 20px;
    margin-bottom: 0px;
}

main h3{
    font-size: var(--headline3);
    line-height: 78px;
    margin-top: 0px;
    margin-bottom: 20px;
}

main p{
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}

.main__social{
    display: flex;
    gap: 16px;
    padding-bottom: 24px;
}

main button{
    background-color: var(--purple);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 1.25px;
    line-height: 22.65px;
    outline: none;
    padding: 13px 50px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}